#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Path: src/App.tsx */
.user-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.visualizations {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.small-multiples {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 1rem;
}

.detail-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}